{% block book_header %}
<div class="book-header" role="navigation">
    <div class="header" height="42" width="100%">
      <div class="dropdown small-header">
        <button onclick="toggleDropdown()" class="dropbtn">MENU</button>
        <div id="menu-dropdown" class="dropdown-content">
          <a href="https://starcounter.io/">HOME</a>
          <a href="https://starcounter.io/download/">DOWNLOAD</a>
          <a href="https://docs.starcounter.io">DOCS</a>
          <a href="https://starcounter.io/community/">COMMUNITY & SUPPORT</a>
          <a href="https://starcounter.io/apps/">APP HUB</a>
          <a href="https://starcounter.io/blog/">BLOG</a>
        </div>
      </div>
    </div>
    <div class="big-header header" height="42" width="100%">
      <a href="https://starcounter.io/">
        <img class="starcounter-logo big-logo" src="/assets/big-starcounter.png" height="42" width="226">
      </a>
      <a href="https://starcounter.io/">
        <img class="starcounter-logo small-logo" src="/assets/small-starcounter.png" height="42" width="42">
      </a>
      <div class="big-header-buttons">
        <a class="menu-button" href="https://starcounter.io/"><span>HOME</span></a>
        <a class="menu-button" href="https://starcounter.io/download/"><span>DOWNLOAD</span></a>
        <a class="menu-button" href="https://docs.starcounter.io/"><span>DOCS</span></a>
        <a class="menu-button" href="https://starcounter.io/community/"><span>COMMUNITY</span></a>
        <a class="menu-button" href="https://starcounter.io/blog/"><span>BLOG</span></a>
        <div class="company-button-background">
          <a class="company-button" href="https://starcounter.com/">COMPANY</a>
        </div>
        <i onclick="toggleSearchDropdown()" class="fa fa-search search-dropdown"></i>
        <div class="search-dropdown-content"></div>
      </div>
    <div class="report-errors-link">
         <a href="https://github.com/Starcounter/Docs/issues/new"><i class="fa fa-bug" aria-hidden="true"></i> Report errors</a>
      </div>
    </div>
    <script>
      toggleSearchDropdown = function() {
          document.getElementsByClassName("search-dropdown-content")[0].classList.toggle("show");
      }

      toggleDropdown = function() {
          document.getElementById("menu-dropdown").classList.toggle("show");
      }

      var gitbook = gitbook || [];
      gitbook.push(function() {
          moveSearchbar();
          setCurrentVersion();
      });

      moveSearchbar = function() {
          var search = document.getElementById("book-search-input");
          document.getElementsByClassName("search-dropdown-content")[0].appendChild(search);
      }

      setCurrentVersion = function() {
          var select = document.getElementsByClassName("version-select");
          var options = select[0].childNodes;
          var currentPageIsSet = false;
          for(var i = 0; i < options.length; i++){
              if(shouldSetAsSelectedVersion(options[i]) && !currentPageIsSet){
                  resetSelectedVersion(options);
                  options[i].setAttribute("selected", "true");
                  currentPageIsSet = true;
              }
          }
      }

      shouldSetAsSelectedVersion = function(option) {
          var isLoadedPage = window.location.href.indexOf(option.innerHTML) != -1;
          var isElementType = option.nodeType == 1;
          return isLoadedPage && isElementType;
      }

      resetSelectedVersion = function(options){
          for(var x = 0; x < options.length; x++){
              if(options[x].nodeType == 1){
                  options[x].removeAttribute("selected");
              }
          }
      }

      window.onclick = function(event) {
          closeMenuDropdownOnOutsideClick(event);
          closeSearchDropdownOnOutsideClick(event);
      }

      closeMenuDropdownOnOutsideClick = function(event) {
          if (shouldCloseDropdownMenu(event)) {
              closeDropdownMenu();
          }
      }

      closeSearchDropdownOnOutsideClick = function(event) {
          if (shouldCloseSearchDropdown(event)){
              closeSearchDropdown();
          }
      }

      shouldCloseDropdownMenu = function(event) {
          var clickedOutsideDropdownButton = !event.target.matches('.dropbtn');
          var smallMenuIsOpen = window.outerWidth < 1060; 
          return clickedOutsideDropdownButton && smallMenuIsOpen;
      }

      shouldCloseSearchDropdown = function(event) {
          var clickedOutsideOfSearchDropdown = !event.target.matches(".search-dropdown") && !event.target.matches("#book-search-input input") && !event.target.matches("#book-search-input");
          var bigHeaderIsOpen = document.getElementsByClassName("big-header-buttons") != null;
          var searchDropdownIsOpen = document.getElementsByClassName("search-dropdown-content")[0].classList.contains("show"); 
          return clickedOutsideOfSearchDropdown && bigHeaderIsOpen && searchDropdownIsOpen;
      }

      closeDropdownMenu = function() {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          for (var i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
              }
          }
      }

      closeSearchDropdown = function() {
          document.getElementsByClassName("search-dropdown-content")[0].classList.remove("show");
      }

      attachHeader = function() {
          var book = document.getElementsByClassName("book")[0];
          var header = document.getElementsByClassName("book-header")[0];
          book.appendChild(header);
      }

      attachHeader();
    </script>
</div>
{% endblock %}
