aside {
    width: 205px;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    float: right;
    margin-left: 10px;
}

aside.read-more {
    background-image: url(../assets/read-more.svg);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    background-size: 26px;
    padding: 0 0 0 28px;
}

* {
    float: left;
    width: 70%;
}

