/* Make code blocks reach as far as the text */
.markdown-section pre {
    width: 100%;
    margin-bottom: 1em;
    margin-top: 0;
}

.markdown-section aside.read-more {
    background-image: url(https://mackiovello.gitbooks.io/docs/content/assets/read-more.svg);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    background-size: 26px;
    padding: 0 0 0 28px;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 20px 10px;
}

.markdown-section section.see-yourself {
    background-color: #EEFCFF;
    background-image: url(https://mackiovello.gitbooks.io/docs/content/assets/try-sample.svg);
    padding-left: 100px;
    background-size: 60px;
    background-repeat: no-repeat;
    border: 1px solid #CCEBF1;
    padding: 10px 10px 10px 100px;
    background-position: 20px 17px;
    min-height: 100px;
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.markdown-section section.see-yourself::before {
    content: "SEE FOR YOURSELF!";
    font-size: 20px;
    display: block;
    color: #83BFCB;
    margin-bottom: 10px;
}

pre::after {
    display: none;
}

/* styling for article ToC on the bottom of each section page */
.part-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  border-color: #f47e0c;
  border-style: dotted;
  border-width: 8px;
  border-radius: 30px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.toc-text {
  color: black;
  margin-left: 15px;
  font-size: 20px;
  text-align: center;
}

.toc-headline {
  margin-top: 0.5em !important;
  color: #f47e0c;
  text-align: center;
  width: 100%;
}

.toc-text.toc-subpage {
  font-size: 90%;
  margin-top: 0.4em;
  margin-left: 4px;
}

.toc-text.toc-subpage--first {
  margin-right: -4px;
}

.toc-text.toc-subpage--last {
  margin-right: 1px;
}

.code-name + pre code {
    border-radius: 0 3px 3px 3px;
}

/* File name on top left of pre elements/code-boxes */

.code-name {
    height: 26px;
    position: relative;
    line-height: 26px;
    padding: 0 .5em;
    display: inline-block;
    border-radius: 3px 0 0 0;
    background-color: rgba(0,0,0,0.12);
    font-size: 16px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.code-name::after {
    content: "";
    border-color: transparent transparent rgba(0,0,0,0.12) rgba(0,0,0,0.12);
    border-style: solid;
    border-width: 13px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: 0;
    right: -25px;
}

/* Code title on top right of pre-element/code-box */

.code-title {
    float: right;
}

.code-title::before {
    content: "";
    border-color: transparent rgba(0,0,0,0.12) rgba(0,0,0,0.12) transparent;
    border-style: solid;
    border-width: 13px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: 0;
    left: -25px;
}
.code-title::after {
    border-color: transparent transparent transparent transparent;
}

/* Orange box for short summaries or simmilarly */

.markdown-section section.hero {
    margin-bottom: 20px;
    border: 2px solid #f47e0c;
    padding: 15px;
    font-size: 1.3em;
    line-height: 1.6em;
    text-align: center;
}

/* Element that resembles a keyboard button */

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

/* Hide p elements that are created after code-title and code-name elements */

.code-title + p {
    display: none;
}

.code-name + p {
    display: none;
}

/* Change background from grey to white on the book navigation on the left */

.book-summary {
    background: white;
}

/* Make links Starcounter orange */

.book-summary ul.summary li.active > a {
  color: #f47e0c;
}

.markdown-section a {
  color: #f47e0c;
}

/* Formatting for the menu buttons displayed when the screen is wider than 1040px */

.big-header-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 70%;
  float: right;
  margin-right: 15px;
}

/* Set the starcounter logo to stay on the left of the header */

.starcounter-logo {
  float: left;
  margin-top: 5px;
}

/* Color the hamburger */

.fa-align-justify {
  color: black;
  font-size: 20px;
}

/* Hover color on hamburger */
.fa-align-justify:hover {
  color: #f47e0c;
}

.big-header-buttons .fa-search{
  font-size: 35px;
  padding: 10px;
  color: black;
}

.big-header-buttons .fa-search:hover {
  background: linear-gradient(0deg, white 94%, #f47e0c 6%);
  color: #f47e0c;
}

/* Add a margin top to the hamburger to align with the logo */

.book-header .btn {
  margin-top: 5px;
}

/* Make the search result links orange */

#book-search-results .search-results .has-results .search-results-item a {
  color: #f47e0c;
}

/* Hide the link to GitBook on the bottom of the section navigation/summary element */

.gitbook-link {
  display: none !important;
}

/* Hide the small logo (the round one without text) by default */

.small-logo {
  display: none;
}

/* Hide the big logo and display the small logo on phone-sized screens in portrait mode */

@media (max-width: 418px) {
  .big-logo {
    display: none !important;
  }
  .small-logo {
    display: block;
  }
  .markdown-section section.see-yourself {
    width: 100%;
  }
  .fa-align-justify {
    font-size: 30px;
    margin-top: 8px;
  }
  .report-errors-link {
    display: none;
  }
}

@media (max-width: 700px) {
  .toc-text {
    font-size: larger !important;
    line-height: normal !important;
    margin-left: 1em !important;
  }
}

/* Hide large menu buttons and display the dropdown button with moderately small screens */

@media (max-width: 1040px) {
  .big-header-buttons {
    display: none;
  }
  .page-inner {
    margin: 0 !important;
  }
}

@media (min-width: 1040px) {
  .small-header {
    display: none;
  }
  .dropbtn {
    display: none;
  }
}

/* Styling for the menu buttons */
.menu-button{
  height: 98%;
  color: black;
  background-color: white;
  border: none;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 60px;
  font-weight: 400;
  font-size: 14px;
  bottom:0;
  margin-right: 10px;
}

.menu-button:hover {
  color: #f47e0c;
  background: linear-gradient(0deg, white 94%, #f47e0c 6%);
}

.company-button-background:hover {
  color: #f47e0c;
  background: linear-gradient(0deg, white 94%, #f47e0c 6%);
}

/* Styling for the brown button that links to starcounter.com */

.company-button {
  background-color: #463f4a;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  font-size: 14px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin-top: 11px;
}

/* Dropdown Button */
.dropbtn {
    background: linear-gradient(0deg, white 91%, black 9%);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100px;
    float: right;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background: linear-gradient(0deg, white 91%, #f47e0c 9%);
    color: #f47e0c;
    outline: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;;
    float: right;
    margin-right: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    width: 100%;
    margin-top: 50px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.search-dropdown {
  position: relative;
  display: inline-block;;
  float: right;
  margin-right: 10px;
}

.search-dropdown-content {
  display: none;
  position: absolute;
  height: 50px;
  width: 230px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  margin-top: 50px;
}

@-moz-document url-prefix() {
  .search-dropdown-content {
    right: 40px;
  }
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (added with js from header.html) */
.show {
  display:block;
}

/* Make space for header */
.book-summary {
  margin-top:50px;
}

.page-inner {
  max-width: none;
  margin: 0 110px 0 110px;
}

.book-body {
  margin-top: 50px;
}

/* Hide the script that sometimes is displayed due to some bug */
script {
  display: none !important;
}

.custom-link {
  display: none !important;
}

.book-summary {
  border-right: none;
}

.version-select {
  width: 90%;
  margin: 10px 15px;
}

#book-search-input {
  border-bottom: none !important;
  margin-bottom: 0 !important;
}

a .js-toolbar-action {
  display: none;
}

.report-errors-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 2px;
  color: black;
}

.report-errors-link a:link {
  color: black;
}

.report-errors-link a:visited {
  color: black;
}

.report-errors-link a:hover {
  color: black;
  border-bottom: 3px solid #f47e0c
}
